---

---

<footer class="text-center my-11">
    <p class="text-sm text-slate-500">
      Copyright © 2023 Astroship. All rights reserved.
    </p>
    <p class="text-xs text-slate-500">Made by Web3Templates</p>
  </footer>